.menu{
    display: flex;
    flex-direction: row;
    justify-content:right;
    gap:2rem;
}
.logo-header {
    width: 80%;
    height: auto;
    margin-left: 3rem;
}
.section-header {
    background: #000;
}

.button-header{
    background-color: rgb(137, 135, 135);
    border-radius: 5px;
    color:#fff;
    font-weight: 600;
}